.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container
{
  height: 80px;
  width: 100%;
  background-color: black;
 line-height: 80px;
 
}
.list li{
  color: white;
  list-style: none;
  display: inline;
  margin-left: 105px;
  cursor: pointer;
}
.content
{
  height: 300px;
  width: 85%;
  padding: 25px;
  margin: auto;
  background-color: teal;
  border-radius: 15px;
  margin-top: 15px;
}
.footer
{
  margin-top: 20px;
  height: 200px;
  width: 100%;
  background-color: crimson;
}
.contain
{
  height: 350px;
  display: flex;
  margin-left: 130px;
  margin-top: 25px;
  
}
.contain 
url
{
  margin: 200px;
}
.Avatar
{
  margin: 100px;
  border: 2px solid black;
  border-radius: 7px;  

}
.head
{
  width: 100%;
  display: inline;
}
.name
{
  text-align: center;
 
}
.follow
{
  height: 300px;
  width: 800px;
  border: 3px solid black;
  margin: auto;
}